---
---
@import "{{ site.theme }}";
header {
  img {
    border-radius: 50%;
  }
  p {
    text-align: center;
  }
  p.view {
    text-align: left;
  }
}
h1{
  margin-bottom: 0px;
}
p{
  margin-top: 0px;
}
