---
---
@import "{{ site.theme }}";
header {
  h1 {
    text-align: left;
  }
  h2 {
    text-align: left;
  }
  p {
    text-align: center;
  }
  p.view {
    text-align: left;
  }
}
h1{
  margin-bottom: 0px;
}
h2{
  margin-bottom: 0px;
}
p{
  margin-top: 0px;
}
p{
  margin-bottom: 0px;
}

.cat {
  height:182px
}
img {
  border-radius: 50%;
  width: auto; 
  max-height: 100%; 
  display: block;
  margin-left: auto; 
  margin-right: auto;
}

