<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

<!--         {% if site.github.is_project_page %}
<!--         <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %} -->

        {% if site.github.is_user_page %}
        <div id="webaddress">
        <p class="view"><a href="{{ site.github.owner_url }}"><i class="fab fa-github"></i> GitHub</a></p>
        {% endif %}
        <p class="view"><a href="https://docs.google.com/viewer?url=https://github.com/vic-cheung/vic-cheung.github.io/raw/main/pdfs/VictoriaCheung_CV.pdf"><i class="fas fa-solid fa-file-pdf"></i>CV PDF</a></p>
        <p class="view"><a href="https://docs.google.com/viewer?url=https://github.com/vic-cheung/vic-cheung.github.io/raw/main/pdfs/VictoriaCheung_Resume.pdf"><i class="fas fa-regular fa-file-pdf"></i>Resume PDF</a></p>
        </div>
        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.linkedin_url }}"><i class="fab fa-linkedin"></i> <strong> LinkedIn</strong></a></li>
          <li><a href="{{ site.github.googlescholar_url }}"><i class="fas fa-thin fa-user-graduate"></i> <strong> Google Scholar</strong></a></li>
          <li><a href="{{ site.github.twitter_url }}"><i class="fab fa-twitter"></i> <strong> Twitter</strong></a></li>
<!--           <li><a href="{{ site.github.cv_url }}"> <strong>CV PDF</strong></a></li>
          <li><a href="{{ site.github.resume_url }}"> <strong>Resume PDF</strong></a></li> -->
        </ul>
        {% endif %}
<!--         <p class="view"><a href="https://www.instagram.com/victoriakcheung/"><i class="fab fa-instagram"></i>🍊 My Creative Outlet</a></p> -->
<!--       <div id="webaddress">
      <a href="https://www.linkedin.com/in/victoriacheung"><i class="fab fa-linkedin"></i> linked-in</a>
      | <a href="https://scholar.google.com/citations?user=8DJJyEIAAAAJ&hl=en&authuser=1"><i class="fas fa-thin fa-user-graduate"></i> google scholar</a>
      | <a href="https://vic-cheung.github.io/"><i class="fab fa-github-alt"></i> website</a>
      | <a href="https://github.com/vic-cheung"><i class="fab fa-github"></i> github</a>
      | <a href="https://twitter.com/victoriakcheung"><i class="fab fa-twitter"></i> twitter</a>
      | <a href="https://www.instagram.com/victoriakcheung/"><i class="fab fa-instagram"></i>🍊 My Creative Outlet</a>
      </div> -->
      </header>
      <section>
        
        {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
<!--         <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p> -->
        <p><small>&mdash; Last updated: Aug 04, 2022</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
