<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h2><a href="{{ site.github.website_url }}">{{ site.title | default: site.github.repository_name }}</a></h2>
        <p><small>{{ site.description | default: site.github.project_tagline}}</small></p>
        <br>
        {% if site.logo %}
          <div class="cat">
          <img src="{{site.logo | relative_url}}" alt="Logo" />
          </div>
        {% endif %}
        <br>
        {% if site.github.is_user_page %}
        <div id="webaddress">
        <a href="{{ site.github.owner_url }}"><i class="fab fa-github"></i> GitHub</a><br>
        <a href="{{ site.github.googlescholar_url }}"><i class="fas fa-thin fa-user-graduate"></i> Google Scholar</a><br>
        </div>
        <br>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.linkedin_url }}"> <small>connect on</small> <strong><i class="fab fa-linkedin"></i> LinkedIn</strong></a></li>
          <li><a href="{{ site.github.cv_url }}"> <small>pdf</small> <strong><i class="fas fa-solid fa-file-pdf"></i> CV</strong></a></li>
          <li><a href="{{ site.github.resume_url }}"> <small>pdf</small> <strong><i class="fas fa-regular fa-file-pdf"></i> Resume</strong></a></li>
        </ul>
        {% endif %}
        
      <br>
      <div id="webaddress">
      <a href="{{ site.github.twitter_url }}"><small><i class="fab fa-twitter"></i> Twitter</small></a>
      | <a href="{{ site.github.creative_url }}"><small><i class="fab fa-instagram"></i> Creative Outlet</small></a>
      | <a href="{{ site.github.neurotree_url }}"><small><i class="fas fa-solid fa-code-branch"></i> Neurotree</small></a>
      </div>
      <br><br>
      </header>
      <section>
        
        {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
<!--         <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p> -->
        <p><small>&mdash; Last updated: Sep 20, 2022</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
