<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <title>Victoria's Kitchen Experiments</title>
    <script type="module" src="https://unpkg.com/@nocodeapi/embed-instagram-feed@latest/embed-instagram-feed.js?module"></script>
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h2><a href="{{ site.github.website_url }}">{{ site.title | default: site.github.repository_name }}</a></h2>
        <p><small>{{ site.description | default: site.github.project_tagline}}</small></p>
        <br>
        {% if site.logo %}
          <div class="cat">
          <img src="{{site.logo | relative_url}}" alt="Logo" />
          </div>
        {% endif %}
        <br>
        <div id="webaddress">
        <a href="{{ site.github.owner_url }}"><i class="fab fa-github"></i> GitHub</a><br>
        <a href="{{ site.github.googlescholar_url }}"><i class="fas fa-thin fa-user-graduate"></i> Google Scholar</a><br>
        </div>
        <br>

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.linkedin_url }}"> <small>connect on</small> <strong><i class="fab fa-linkedin"></i> LinkedIn</strong></a></li>
          <li><a href="{{ site.github.cv_url }}"> <small>pdf</small> <strong><i class="fas fa-solid fa-file-pdf"></i> CV</strong></a></li>
          <li><a href="{{ site.github.resume_url }}"> <small>pdf</small> <strong><i class="fas fa-regular fa-file-pdf"></i> Resume</strong></a></li>
        </ul>
        {% endif %}
        
      <br>
      <div id="webaddress">
      <a href="{{ site.github.twitter_url }}"><small><i class="fab fa-twitter"></i> Twitter</small></a>
      | <a href="{{ site.github.creative_url }}"><small><i class="fab fa-instagram"></i> Creative Outlet</small></a>
      | <a href="{{ site.github.neurotree_url }}"><small><i class="fas fa-solid fa-code-branch"></i> Neurotree</small></a>
      </div>
      <br><br>
      </header>
      <section>
        {{ content }}
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">1/n: Transcriptional profiling of mouse projection neurons with VECTORseq <a href="https://t.co/Fqe7VaokVv">https://t.co/Fqe7VaokVv</a></p>&mdash; Victoria Cheung, PhD (@victoriakcheung) <a href="https://twitter.com/victoriakcheung/status/1570800641215438848?ref_src=twsrc%5Etfw">September 16, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">My thesis work <a href="https://twitter.com/CellReports?ref_src=twsrc%5Etfw">@CellReports</a>! <a href="https://t.co/OZDQMVpi84">https://t.co/OZDQMVpi84</a></p>&mdash; Victoria Cheung, PhD (@victoriakcheung) <a href="https://twitter.com/victoriakcheung/status/1475171167627399170?ref_src=twsrc%5Etfw">December 26, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        
      </section>
      <footer>
        <p><small>&mdash; Last updated: Aug 04, 2022</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
